<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>

  <%= stylesheet_link_tag "grid.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "rd-mailform.css" %>

  <!--<script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>
  -->
</head>

<body>
<div class="page">

    <header>
    <section class="parallax parallax01">
      <div class="container">
        <h2>Mr. Fork</h2>
        <p><em>Nunca reservar había sido tan fácil</em></p>
        <a href="/sign_up" class="botonLand">Regístrate ahora!</a>
      </div>
    </section>
  </header>

  <!--==============================CONTENT==============================-->
  <main>
    <section class="well center">
      <div class="container">
        <h2>¡Bienvenido!</h2>
        <p>Nos esforzamos día a día por ampliar nuestra oferta de restaurantes cumpliendo para ello, todos los
          estándares de calidad conocidos.<br>Somos referencia en el sector gracias a un trabajo cuidado y continuado hacia
          nuestros clientes.</p>
        <div class="row iconed-list">
          <div class="grid_4">
            <div class="icon fa-coffee"></div>
            <h3>Reservas rápidas</h3>
            <p>Reservar en cuestión de segundos en tu restaurante favorito. Esa es nuestra meta.</p>
          </div>
          <div class="grid_4">
            <div class="icon fa-glass icon__bg-2"></div>
            <h3>Más información</h3>
            <p>Ver la carta y precios de todos los restaurantes nunca ha sido tan fácil.</p>
          </div>
          <div class="grid_4">
            <div class="icon fa-cutlery icon__bg-3"></div>
            <h3>Ofertas especiales</h3>
            <p>Como nuestro cliente, tendrás acceso a un sin fin de ofertas para que las disfrutes en tu restaurante
              favorito.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="well well__02 bg-2 shadow">
      <div class="container">
        <div class="row">
          <div class="grid_5">
            <div class="img"><img src="images/img01.jpg" alt=""></div>
          </div>
          <div class="grid_7 offset01">
            <h2>Si eres restaurador...</h2>
            <p>Te ofrecemos una plataforma, la cual te permitirá administrar toda la información de tu restaurante de
              una manera fácil y cómoda.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="well well__03">
      <div class="container">
        <h2>Beneficios</h2>
        <div class="row">
          <div class="grid_6">
            <div class="iconed-box">
              <div class="icon fa-comments-o"></div>
              <h4>Empieza desde ya</h4>
              <p>Desde ese mismo momento, podrás administrar todos los datos de tu restaurante.</p>
            </div>
          </div>
          <div class="row">
            <div class="grid_6">
              <div class="iconed-box">
                <div class="icon fa-book"></div>
                <h4>Administra tu carta</h4>
                <p>Desde el panel de control podrás administrar los platos de tu restaurante, modificando su imagen,
                  precio y descripción.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="grid_6">
            <div class="iconed-box">
              <div class="icon fa-group"></div>
              <h4>Consigue más comensales</h4>
              <p>Gracias a nuestro servicio, miles de personas conocerán y podrán reservar en tu restaurante.</p>
            </div>
          </div>
          <div class="row">
            <div class="grid_6">
              <div class="iconed-box">
                <div class="icon fa-heart-o"></div>
                <h4>No te preocupes</h4>
                <p>Nos ocupamos nosotros de toda la gestión de reservas, una vez hayas configurado todos tus datos.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="parallax parallax02 shadow">
      <div class="container">
        <div class="row">
          <div class="preffix_1 grid_10">
            <blockquote>
              <q>
                El servicio es muy fácil de usar. <br>Me ha facilitado enormemente la getión de mis reservas.<br> Está haciendo mi vida mucho
                más fácil.
              </q>
            </blockquote>
            <div class="img img__circle"><%= image_tag("img02.png", :alt => "") %></div>
            <h5><cite>Paco Olivander</cite></h5>
            <p>Afamado comensal</p>

          </div>
        </div>
      </div>
    </section>



    <section class="well well__04 bg-3">
      <div class="container">
        <h2>Aseguramos el 100% de satisfacción<br> con cada reserva</h2>
        <p>Seguimos un exhaustivo proceso mediante el cual comprobamos que todos nuestros restaurantes poseen la calidad necesaria que se merecen nuestros clientes.<br> Tanto si eres restaurador como cliente, este es el momento!</p>
        <a href="/sign_up" class="botonLand">Regístrate ahora!</a>
      </div>
    </section>
  </main>
</div>

</body>
</html>