<%= stylesheet_link_tag "searches.css" %>
<div class="container">
    <tbody>
    <% if @restaurants.nil? || @restaurants.empty? %>
      <h2 class="text-center" class="tam">No hay restaurantes que coincidan con la búsqueda</h2>
    <% else %>
      <h2 class="text-center" class="tam"> Restaurantes que coinciden con la búsqueda </h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Restaurantes</th>

        <th>Tipo de comida</th>
      </tr>
      </thead>

      <tbody>
  <% @restaurants.each do |restaurant| %>
        <tr>

          <td><%=  link_to restaurant.name, restaurant , {:class=>"textLink"}%></td>

          <% t = restaurant.types %>

          <% t.each do |t1| %>
            <td><%= t1.name %></td>
          <% end %>

        </tr>
    <br/>
  <% end %>
      </tbody>
    </table>

  </div>
<% end %>
</tbody>