<%= form_with(model: [@restaurant, @restaurant.photos.new], local: true) do |form| %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :photo_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
