// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-rounded{
  margin-bottom: 5px;
}

.actions > a:visited{
  color: white;
}

.popover{
  max-width: 100%;
}